LIBRARIES IMPORT

In [1]:
import kaggle as kg
import pandas as pd
import numpy as np
import os
import re
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/ananya/.kaggle/kaggle.json'

DATA LOADING: LOADING THE DATA

In [2]:
# os.environ["USERNAME"] = "ananyachattarjee"
# os.environ["KEY"] = "340cf7e2927700b82491dcdaa82ad906"

In [3]:
#kg.api.authenticate()

In [4]:
# kg.api.dataset_download_files(dataset="lakshmi25npathi/online-retail-dataset",
#                               path="./dataset",unzip=True)

In [5]:
data1 = pd.read_excel("dataset/online_retail_II.xlsx",sheet_name="Year 2009-2010")


data2 = pd.read_excel("dataset/online_retail_II.xlsx", sheet_name="Year 2010-2011")
data = pd.concat([data1, data2], ignore_index=True)

In [6]:
data1

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [7]:
data2

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
541909,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

combined data:

In [8]:
data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

removing duplicates.

In [9]:
data.drop_duplicates(inplace=True)

DATA CLEANING :

In [10]:
data.isna().sum()

Invoice             0
StockCode           0
Description      4275
Quantity            0
InvoiceDate         0
Price               0
Customer ID    235151
Country             0
dtype: int64

 a huge chunk of data is missing from Description column that also not helpful in our model so we'll drop that column as well.

In [11]:
data.drop(labels="Description",axis=1,inplace=True)

In [12]:
data.dropna(axis=0,inplace=True)

In [13]:
data.columns

Index(['Invoice', 'StockCode', 'Quantity', 'InvoiceDate', 'Price',
       'Customer ID', 'Country'],
      dtype='object')

In [14]:
data

,Invoice,StockCode,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...
1067366,581587,22899,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,1,2011-12-09 12:50:00,18.00,12680.0,France

FEATURE ENGINEERING:

creating a new column named total Price that'll tell us about the total amount spend by the customer at that transaction.

In [15]:
data["TotalPrice"] = data["Quantity"] * data["Price"]

no need of quantity now

In [16]:
data = data.drop(columns=['Quantity'])

In [17]:
data["StockCode"].dtype

dtype('O')

stock code is a useless column since it is related to type of product purchased which in our case is irrelevant.

In [18]:
data.drop(labels="StockCode",axis=1, inplace=True)

In [19]:
data

,Invoice,InvoiceDate,Price,Customer ID,Country,TotalPrice
0,489434,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.40
1,489434,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
2,489434,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
3,489434,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.80
4,489434,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.00
...,...,...,...,...,...,...
1067366,581587,2011-12-09 12:50:00,2.10,12680.0,France,12.60
1067367,581587,2011-12-09 12:50:00,4.15,12680.0,France,16.60
1067368,581587,2011-12-09 12:50:00,4.15,12680.0,France,16.60
1067369,581587,2011-12-09 12:50:00,4.95,12680.0,France,14.85
1067370,581587,2011-12-09 12:50:00,18.00,12680.0,France,18.00

Ensures it's datetime type

In [20]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

In [21]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate']).dt.date

In [22]:
frequency = data.groupby('Customer ID')['Invoice'].nunique()

In [23]:
frequency

Customer ID
12346.0    17
12347.0     8
12348.0     5
12349.0     5
12350.0     1
           ..
18283.0    22
18284.0     2
18285.0     1
18286.0     3
18287.0     8
Name: Invoice, Length: 5942, dtype: int64

In [24]:
data['Customer ID'].nunique()

5942

CREATING FINAL FEATURES ON WHICH MODEL WILL BE TRAINED

In [25]:
reference_date = pd.to_datetime(data['InvoiceDate']).max() + pd.Timedelta(days=1)

data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

# Group by Customer ID
customer_df = data.groupby('Customer ID').agg({
    'InvoiceDate': [lambda x: (x.max() - x.min()).days,           # Tenure
                    lambda x: (reference_date - x.max()).days],   # Recency
    'Invoice': 'nunique',                                         # Frequency
    'TotalPrice': 'sum',                                          # CLV
    'Country': 'first'                                            # Country
}).reset_index()

# Rename columns
customer_df.columns = ['Customer ID', 'Tenure', 'Recency', 'Frequency', 'CLV', 'Country']

# Final look
customer_df.head()

   Customer ID  Tenure  Recency  Frequency      CLV         Country
0      12346.0     400      326         17   -51.74  United Kingdom
1      12347.0     402        3          8  4921.53         Iceland
2      12348.0     363       76          5  2019.40         Finland
3      12349.0     717       19          5  4404.54           Italy
4      12350.0       0      311          1   334.40          Norway

In [26]:
customer_df

      Customer ID  Tenure  Recency  Frequency      CLV         Country
0         12346.0     400      326         17   -51.74  United Kingdom
1         12347.0     402        3          8  4921.53         Iceland
2         12348.0     363       76          5  2019.40         Finland
3         12349.0     717       19          5  4404.54           Italy
4         12350.0       0      311          1   334.40          Norway
...           ...     ...      ...        ...      ...             ...
5937      18283.0     655        4         22  2664.90  United Kingdom
5938      18284.0       2      430          2   436.68  United Kingdom
5939      18285.0       0      661          1   427.00  United Kingdom
5940      18286.0     247      477          3  1188.43  United Kingdom
5941      18287.0     696       43          8  4177.89  United Kingdom

[5942 rows x 6 columns]

one hot encoding for COUNTRY column since it's a nominal categorical data item

In [27]:
customer_df = pd.get_dummies(customer_df, columns=['Country'], drop_first=True)

In [28]:
customer_df

,Customer ID,Tenure,Recency,Frequency,CLV,Country_Austria,Country_Bahrain,Country_Belgium,Country_Brazil,Country_Canada,...,Country_Singapore,Country_Spain,Country_Sweden,Country_Switzerland,Country_Thailand,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Unspecified,Country_West Indies
0,12346.0,400,326,17,-51.74,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,12347.0,402,3,8,4921.53,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,12348.0,363,76,5,2019.40,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,12349.0,717,19,5,4404.54,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,12350.0,0,311,1,334.40,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5937,18283.0,655,4,22,2664.90,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
5938,18284.0,2,430,2,436.68,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
5939,18285.0,0,661,1,427.00,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
5940,18286.0,247,477,3,1188.43,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
5941,18287.0,696,43,8,4177.89,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [29]:
customer_df.columns[5:45]

Index(['Country_Austria', 'Country_Bahrain', 'Country_Belgium',
       'Country_Brazil', 'Country_Canada', 'Country_Channel Islands',
       'Country_Cyprus', 'Country_Czech Republic', 'Country_Denmark',
       'Country_EIRE', 'Country_European Community', 'Country_Finland',
       'Country_France', 'Country_Germany', 'Country_Greece',
       'Country_Iceland', 'Country_Israel', 'Country_Italy', 'Country_Japan',
       'Country_Korea', 'Country_Lebanon', 'Country_Lithuania',
       'Country_Malta', 'Country_Netherlands', 'Country_Nigeria',
       'Country_Norway', 'Country_Poland', 'Country_Portugal', 'Country_RSA',
       'Country_Saudi Arabia', 'Country_Singapore', 'Country_Spain',
       'Country_Sweden', 'Country_Switzerland', 'Country_Thailand',
       'Country_USA', 'Country_United Arab Emirates', 'Country_United Kingdom',
       'Country_Unspecified', 'Country_West Indies'],
      dtype='object')

In [30]:
for col in list(customer_df.columns[5:45]):
    customer_df[col] = customer_df[col].apply(lambda x: 1 if x == True else 0)

In [31]:
customer_df

,Customer ID,Tenure,Recency,Frequency,CLV,Country_Austria,Country_Bahrain,Country_Belgium,Country_Brazil,Country_Canada,...,Country_Singapore,Country_Spain,Country_Sweden,Country_Switzerland,Country_Thailand,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Unspecified,Country_West Indies
0,12346.0,400,326,17,-51.74,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,12347.0,402,3,8,4921.53,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12348.0,363,76,5,2019.40,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,12349.0,717,19,5,4404.54,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12350.0,0,311,1,334.40,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5937,18283.0,655,4,22,2664.90,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5938,18284.0,2,430,2,436.68,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5939,18285.0,0,661,1,427.00,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5940,18286.0,247,477,3,1188.43,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5941,18287.0,696,43,8,4177.89,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

SPLITTING THE DATA

In [32]:
y = customer_df["CLV"]

In [33]:
y

0        -51.74
1       4921.53
2       2019.40
3       4404.54
4        334.40
         ...
5937    2664.90
5938     436.68
5939     427.00
5940    1188.43
5941    4177.89
Name: CLV, Length: 5942, dtype: float64

In [34]:
X = customer_df

In [35]:
X.drop(labels="CLV",axis=1,inplace=True)

In [36]:
X

,Customer ID,Tenure,Recency,Frequency,Country_Austria,Country_Bahrain,Country_Belgium,Country_Brazil,Country_Canada,Country_Channel Islands,...,Country_Singapore,Country_Spain,Country_Sweden,Country_Switzerland,Country_Thailand,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Unspecified,Country_West Indies
0,12346.0,400,326,17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,12347.0,402,3,8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12348.0,363,76,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,12349.0,717,19,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12350.0,0,311,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5937,18283.0,655,4,22,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5938,18284.0,2,430,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5939,18285.0,0,661,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5940,18286.0,247,477,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5941,18287.0,696,43,8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [37]:
X['Recency_log'] = np.log1p(X['Recency'])

In [38]:
X['Tenure_Frequency'] = X['Tenure'] * X['Frequency']

In [39]:
X['HighFreq'] = (X['Frequency'] > X['Frequency'].median()).astype(int)

In [40]:
X['Freq_per_day'] = X['Frequency'] / (X['Tenure'] + 1)

In [41]:
X['Recency_per_purchase'] = X['Recency'] / (X['Frequency'] + 1)

In [42]:
# X['target'] = y  # Temporarily add
# X.corr()['target'].sort_values(ascending=False)

In [43]:
X = X[['Frequency', 'Tenure', 'Tenure_Frequency', 'Freq_per_day', 'HighFreq','Country_EIRE']]

In [44]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42 )

In [45]:
X_train

,Frequency,Tenure,Tenure_Frequency,Freq_per_day,HighFreq,Country_EIRE
4323,5,603,3015,0.008278,1,0
2437,2,4,8,0.400000,0,0
4856,1,0,0,1.000000,0,0
1437,4,186,744,0.021390,0,0
366,28,708,19824,0.039492,1,0
...,...,...,...,...,...,...
3772,5,259,1295,0.019231,1,0
5191,2,274,548,0.007273,0,0
5226,10,653,6530,0.015291,1,0
5390,4,104,416,0.038095,0,0
860,15,332,4980,0.045045,1,0

In [46]:
X_test

,Frequency,Tenure,Tenure_Frequency,Freq_per_day,HighFreq,Country_EIRE
4766,1,0,0,1.000000,0,0
2131,10,697,6970,0.014327,1,0
1400,1,0,0,1.000000,0,0
5183,2,87,174,0.022727,0,0
2827,8,237,1896,0.033613,1,0
...,...,...,...,...,...,...
3787,78,615,47970,0.126623,1,0
4256,5,357,1785,0.013966,1,0
1879,5,262,1310,0.019011,1,0
4181,2,343,686,0.005814,0,0
1157,12,590,7080,0.020305,1,0

In [47]:
y_train

4323     200.15
2437     305.35
4856     160.65
1437    1542.09
366     6521.78
         ...
3772    4255.43
5191     887.67
5226     652.21
5390     337.49
860     8211.00
Name: CLV, Length: 4159, dtype: float64

In [48]:
len(y_test)

1783

In [49]:
# Clip to 1st and 99th percentile
for col in ['Tenure',  'Frequency']:
    lower = X_train[col].quantile(0.01)
    upper = X_train[col].quantile(0.99)
    X_train[col] = X_train[col].clip(lower, upper)

In [50]:
# from sklearn.model_selection import GridSearchCV

# param_grid = {
#     'n_estimators': [100, 200, 300],
#     'max_depth': [5, 10, 15],
#     'min_samples_split': [2, 5, 10]
# }

# grid = GridSearchCV(RandomForestRegressor(random_state=42), param_grid, cv=3, scoring='r2')
# grid.fit(X_train, y_train)
# print("Best RÂ² score:", grid.best_score_)
# print("Best Params:", grid.best_params_)

In [51]:
# from sklearn.model_selection import RandomizedSearchCV
# from sklearn.ensemble import RandomForestRegressor
# from scipy.stats import randint

# # Define parameter distribution
# param_dist = {
#     'n_estimators': randint(100, 500),
#     'max_depth': randint(5, 30),
#     'min_samples_split': randint(2, 15)
# }

# # Randomized search with 20 iterations
# random_search = RandomizedSearchCV(
#     estimator=RandomForestRegressor(random_state=42),
#     param_distributions=param_dist,
#     n_iter=20,                  # Number of random combinations to try
#     cv=3,                       # 3-fold cross-validation
#     scoring='r2',
#     random_state=42,
#     n_jobs=-1                   # Use all CPU cores
# )

# random_search.fit(X_train, y_train)

# print("Best RÂ² score from RandomizedSearchCV:", random_search.best_score_)
# print("Best Parameters:", random_search.best_params_)

In [53]:
model = RandomForestRegressor(
    n_estimators=300,
    max_depth=5,
    min_samples_split=3,
    random_state=44
)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(" RÂ² Score:", r2_score(y_test, y_pred))
print(" RMSE:", np.sqrt(mean_squared_error(y_test, y_pred)))

 RÂ² Score: 0.6655855134872242
 RMSE: 8678.374349657888