LIBRARIES IMPORT

In [79]:
import kaggle as kg
import pandas as pd
import numpy as np
import os
import re
import matplotlib.pyplot as plt
import seaborn as sns

DATA LOADING: LOADING THE DATA

In [80]:
# os.environ["USERNAME"] = "ananyachattarjee"
# os.environ["KEY"] = "340cf7e2927700b82491dcdaa82ad906"

In [81]:
#kg.api.authenticate()

In [82]:
# kg.api.dataset_download_files(dataset="lakshmi25npathi/online-retail-dataset",
#                               path="./dataset",unzip=True)

In [83]:
data1 = pd.read_excel("dataset/online_retail_II.xlsx",sheet_name="Year 2009-2010")


data2 = pd.read_excel("dataset/online_retail_II.xlsx", sheet_name="Year 2010-2011")
data = pd.concat([data1, data2], ignore_index=True)

In [84]:
data1

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [85]:
data2

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
541909,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

combined data:

In [86]:
data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

removing duplicates.

In [87]:
data.drop_duplicates(inplace=True)

DATA CLEANING :

In [88]:
data.isna().sum()

Invoice             0
StockCode           0
Description      4275
Quantity            0
InvoiceDate         0
Price               0
Customer ID    235151
Country             0
dtype: int64

 a huge chunk of data is missing from Description column that also not helpful in our model so we'll drop that column as well.

In [89]:
data.drop(labels="Description",axis=1,inplace=True)

In [90]:
data.dropna(axis=0,inplace=True)

In [91]:
data.columns

Index(['Invoice', 'StockCode', 'Quantity', 'InvoiceDate', 'Price',
       'Customer ID', 'Country'],
      dtype='object')

In [92]:
data

,Invoice,StockCode,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...
1067366,581587,22899,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,1,2011-12-09 12:50:00,18.00,12680.0,France

FEATURE ENGINEERING:

creating a new column named total Price that'll tell us about the total amount spend by the customer at that transaction.

In [94]:
data["TotalPrice"] = data["Quantity"] * data["Price"]

no need of quantity now

In [95]:
data = data.drop(columns=['Quantity'])

In [96]:
data["StockCode"].dtype

dtype('O')

stock code is a useless column since it is related to type of product purchased which in our case is irrelevant.

In [97]:
data.drop(labels="StockCode",axis=1, inplace=True)

In [98]:
data

,Invoice,InvoiceDate,Price,Customer ID,Country,TotalPrice
0,489434,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.40
1,489434,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
2,489434,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
3,489434,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.80
4,489434,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.00
...,...,...,...,...,...,...
1067366,581587,2011-12-09 12:50:00,2.10,12680.0,France,12.60
1067367,581587,2011-12-09 12:50:00,4.15,12680.0,France,16.60
1067368,581587,2011-12-09 12:50:00,4.15,12680.0,France,16.60
1067369,581587,2011-12-09 12:50:00,4.95,12680.0,France,14.85
1067370,581587,2011-12-09 12:50:00,18.00,12680.0,France,18.00

Ensures it's datetime type

In [99]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

In [100]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate']).dt.date

In [101]:
frequency = data.groupby('Customer ID')['Invoice'].nunique()

In [102]:
frequency

Customer ID
12346.0    17
12347.0     8
12348.0     5
12349.0     5
12350.0     1
           ..
18283.0    22
18284.0     2
18285.0     1
18286.0     3
18287.0     8
Name: Invoice, Length: 5942, dtype: int64

In [103]:
data['Customer ID'].nunique()

5942

CREATING FINAL FEATURES ON WHICH MODEL WILL BE TRAINED

In [104]:
reference_date = pd.to_datetime(data['InvoiceDate']).max() + pd.Timedelta(days=1)

data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

# Group by Customer ID
customer_df = data.groupby('Customer ID').agg({
    'InvoiceDate': [lambda x: (x.max() - x.min()).days,           # Tenure
                    lambda x: (reference_date - x.max()).days],   # Recency
    'Invoice': 'nunique',                                         # Frequency
    'TotalPrice': 'sum',                                          # CLV
    'Country': 'first'                                            # Country
}).reset_index()

# Rename columns
customer_df.columns = ['Customer ID', 'Tenure', 'Recency', 'Frequency', 'CLV', 'Country']

# Final look
customer_df.head()

   Customer ID  Tenure  Recency  Frequency      CLV         Country
0      12346.0     400      326         17   -51.74  United Kingdom
1      12347.0     402        3          8  4921.53         Iceland
2      12348.0     363       76          5  2019.40         Finland
3      12349.0     717       19          5  4404.54           Italy
4      12350.0       0      311          1   334.40          Norway

In [105]:
customer_df

      Customer ID  Tenure  Recency  Frequency      CLV         Country
0         12346.0     400      326         17   -51.74  United Kingdom
1         12347.0     402        3          8  4921.53         Iceland
2         12348.0     363       76          5  2019.40         Finland
3         12349.0     717       19          5  4404.54           Italy
4         12350.0       0      311          1   334.40          Norway
...           ...     ...      ...        ...      ...             ...
5937      18283.0     655        4         22  2664.90  United Kingdom
5938      18284.0       2      430          2   436.68  United Kingdom
5939      18285.0       0      661          1   427.00  United Kingdom
5940      18286.0     247      477          3  1188.43  United Kingdom
5941      18287.0     696       43          8  4177.89  United Kingdom

[5942 rows x 6 columns]

one hot encoding for COUNTRY column since it's a nominal categorical data item

In [107]:
customer_df = pd.get_dummies(customer_df, columns=['Country'], drop_first=True)

In [108]:
customer_df

,Customer ID,Tenure,Recency,Frequency,CLV,Country_Austria,Country_Bahrain,Country_Belgium,Country_Brazil,Country_Canada,...,Country_Singapore,Country_Spain,Country_Sweden,Country_Switzerland,Country_Thailand,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Unspecified,Country_West Indies
0,12346.0,400,326,17,-51.74,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,12347.0,402,3,8,4921.53,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,12348.0,363,76,5,2019.40,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,12349.0,717,19,5,4404.54,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,12350.0,0,311,1,334.40,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5937,18283.0,655,4,22,2664.90,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
5938,18284.0,2,430,2,436.68,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
5939,18285.0,0,661,1,427.00,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
5940,18286.0,247,477,3,1188.43,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
5941,18287.0,696,43,8,4177.89,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [110]:
customer_df.columns[5:45]

Index(['Country_Austria', 'Country_Bahrain', 'Country_Belgium',
       'Country_Brazil', 'Country_Canada', 'Country_Channel Islands',
       'Country_Cyprus', 'Country_Czech Republic', 'Country_Denmark',
       'Country_EIRE', 'Country_European Community', 'Country_Finland',
       'Country_France', 'Country_Germany', 'Country_Greece',
       'Country_Iceland', 'Country_Israel', 'Country_Italy', 'Country_Japan',
       'Country_Korea', 'Country_Lebanon', 'Country_Lithuania',
       'Country_Malta', 'Country_Netherlands', 'Country_Nigeria',
       'Country_Norway', 'Country_Poland', 'Country_Portugal', 'Country_RSA',
       'Country_Saudi Arabia', 'Country_Singapore', 'Country_Spain',
       'Country_Sweden', 'Country_Switzerland', 'Country_Thailand',
       'Country_USA', 'Country_United Arab Emirates', 'Country_United Kingdom',
       'Country_Unspecified', 'Country_West Indies'],
      dtype='object')

In [113]:
for col in list(customer_df.columns[5:45]):
    customer_df[col] = customer_df[col].apply(lambda x: 1 if x == True else 0)

In [115]:
customer_df

,Customer ID,Tenure,Recency,Frequency,CLV,Country_Austria,Country_Bahrain,Country_Belgium,Country_Brazil,Country_Canada,...,Country_Singapore,Country_Spain,Country_Sweden,Country_Switzerland,Country_Thailand,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Unspecified,Country_West Indies
0,12346.0,400,326,17,-51.74,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,12347.0,402,3,8,4921.53,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12348.0,363,76,5,2019.40,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,12349.0,717,19,5,4404.54,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12350.0,0,311,1,334.40,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5937,18283.0,655,4,22,2664.90,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5938,18284.0,2,430,2,436.68,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5939,18285.0,0,661,1,427.00,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5940,18286.0,247,477,3,1188.43,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5941,18287.0,696,43,8,4177.89,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

SPLITTING THE DATA

In [117]:
y = customer_df["CLV"]

In [119]:
y

0        -51.74
1       4921.53
2       2019.40
3       4404.54
4        334.40
         ...
5937    2664.90
5938     436.68
5939     427.00
5940    1188.43
5941    4177.89
Name: CLV, Length: 5942, dtype: float64